<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shape.singleproject.mapping.UserInfoMapper">

    <resultMap type="com.shape.singleproject.dto.UserInfo" id="UserInfoMap">
        <result property="id" column="id"/>
        <result property="openId" column="open_id"/>
        <result property="name" column="name"/>
        <result property="yn" column="yn"/>
        <result property="constellation" column="constellation"/>
        <result property="birthday" column="birthday"/>
        <result property="education" column="education"/>
        <result property="sex" column="sex"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="hobby" column="hobby"/>
        <result property="height" column="height"/>
        <result property="weight" column="weight"/>
        <result property="selfEvaluation" column="self_evaluation"/>
        <result property="workArea" column="work_area"/>
        <result property="wantSay" column="want_say"/>
        <result property="family" column="family"/>
        <result property="standFriend" column="stand_friend"/>
        <result property="photos" column="photos"/>
        <result property="department" column="department"/>
        <result property="status" column="status"/>
        <result property="rejectReason" column="reject_reason"/>
        <result property="dongdong" column="dongdong"/>
        <result property="wxNumber" column="wx_number"/>
        <result property="create" column="create"/>
        <result property="modified" column="modified"/>
        <result property="ext" column="ext"/>
        <result property="doingTags" column="doing_tags"/>
        <result property="planTags" column="plan_tags"/>
        <result property="activityTags" column="activity_tags"/>
    </resultMap>

    <sql id="userResult">
        <trim suffixOverrides=",">
            `open_id`,
            `name`,
            `constellation`,
            `birthday`,
            `education`,
            `sex`+0 as `sex`,
            `province`,
            `city`,
            `hobby`,
            `height`,
            `weight`,
            `self_evaluation`,
            `work_area`,
            `want_say`,
            `family`,
            `stand_friend`,
            `photos`,
            `department`,
            `create`,
            `modified`,
            `ext`,
            `doing_tags`,
            `plan_tags`,
            `activity_tags`,
        </trim>
    </sql>

    <update id="updateUserInfoBasicByOpenId">
        UPDATE `user_info`
        SET
        <trim suffixOverrides=",">
            <if test="name != null and name!=''">
                `name` = #{name},
            </if>
            <if test="constellation != null">
                `constellation` = #{constellation},
            </if>
            <if test="birthday != null">
                `birthday` = #{birthday},
            </if>
            <if test="education != null">
                `education` = #{education},
            </if>
            <if test="sex != null">
                `sex` = #{sex},
            </if>
            <if test="province != null and province!=''">
                `province` = #{province},
            </if>
            <if test="city != null and city!=''">
                `city` = #{city},
            </if>
            <if test="hobby != null and hobby!=''">
                `hobby` = #{hobby},
            </if>
            <if test="height != null">
                `height` = #{height},
            </if>
            <if test="weight != null">
                `weight` = #{weight},
            </if>
            <if test="selfEvaluation != null and selfEvaluation!=''">
                `self_evaluation` = #{selfEvaluation},
            </if>
            <if test="workArea != null and workArea!=''">
                `work_area` = #{workArea},
            </if>
            <if test="wantSay != null and wantSay!=''">
                `want_say` = #{wantSay},
            </if>
            <if test="family != null and family!=''">
                `family` = #{family},
            </if>
            <if test="standFriend != null and standFriend!=''">
                `stand_friend` = #{standFriend},
            </if>
            <if test="photos != null and photos!=''">
                `photos` = #{photos},
            </if>
            <if test="department != null and department!=''">
                `department` = #{department},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="modified != null">
                `modified` = #{modified},
            </if>
            <if test="ext != null and ext!=''">
                `ext` = #{ext},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `open_id` = #{openId} and
        </trim>
    </update>

    <update id="updateUserInfoStatusByOpenId">
        UPDATE `user_info`
        SET
        <trim suffixOverrides=",">
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="ext != null and ext!=''">
                `ext` = #{ext},
            </if>
            <if test="reject_reason != null and reject_reason!=''">
                `reject_reason` = #{rejectReason},
            </if>
            <if test="yn != null">
                `yn` = #{yn},
            </if>
            `modified` = now()
        </trim>
        WHERE
        <trim suffixOverrides="and">
            `open_id` = #{openId} and
        </trim>
    </update>

    <select id="selectUserInfoByCreateAndModified" resultMap="UserInfoMap">
        select
        <include refid="userResult"></include>
        from `user_info`
        <trim prefix="where" suffixOverrides="and | or">
          <if test="createGt != null">
              `create` >= #{createGt} and
          </if>
          <if test="createLt != null">
              `create` &lt;= #{createLt} and
          </if>
        </trim>
        order by `create` desc, `modified` desc
        limit #{size}
    </select>

    <select id="queryUserInfoRandom" resultMap="UserInfoMap">
        select id
        from user_info where id >=
        ((select MAX(id) from user_info where `status` = 1 and yn = 0) - (select MIN(id) from user_info where `status` = 1 and yn = 0))  * RAND() +
        (select MIN(id) from user_info where `status` = 1 and yn = 0) limit 1;
    </select>
</mapper>